.App{
  display: grid;
  place-items: center;
  background-color: #D7E6E1;
  height: 100vh;
}

.App__Body{
  margin-top: -50px;
  display: flex;
  width: 90vw;
  height: 90vh;
  background-color: #ededed;
  box-shadow: -1px 4px 20px -6px rgba(0,0,0,0.75);
}